/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    font-family: 'Arbutus Slab', serif;
    color: #444444 !important;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    font-family: 'Arbutus Slab', serif;
    color: #444444 !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.header h3 a:hover {
    color: #999;
    text-decoration: none;
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 960px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/********************/
article.post-list header h2 {
    text-align: center;
    margin-bottom: 0.2em;
}

article.post-list header h2 a {
    text-decoration: none;
}
article.post-list header h2 a:hover {
    text-decoration: underline;
}

article.post-list header figure {
    text-align: center;
    font-size: 100%;
    font-style: italic;
}

.post-comment-form {
    margin-bottom: 1em;
}


article.post-list div.post-list-content {
    max-width: 660px;
    margin: 0 auto;
}

article.post-list footer {
    max-width: 660px;
    margin: 0 auto;
}

nav.posts-pagination {
    width: 80%;
    padding: 5px;
    overflow: hidden;
    margin: 0 auto;
}

nav.posts-pagination a.nextLink{
    float: right;
}

nav.posts-pagination a.prevLink{
    float: left;
}

.post-tags a {
    font-size: 18px;
    text-decoration: none;
    margin: 0.2em;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.pills > li > a {
    border-radius: 5px;
}

.pills > li.active > a, .pills > li.active > a:hover, .pills > li.active > a:focus {
    background-color: #428BCA !important;
    color: #fff !important;
}

.pills > li > a:hover, .nav > li > a:focus {
    background-color: #eee !important;
}

.pills > li > a {
    padding: 10px 15px;
}

.pills > li + li {
    margin-left: 2px;
}

.navbar-brand {
    font-size: 23px;
}